In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import pandas as pd
from sqlalchemy import create_engine

database_name = 'week1'
table_name = 'xdr_data'

connection_params = {
    "host": "localhost",
    "user": "postgres",
    "password": "lhtdss",
    "port": "5432",
    "database": database_name
}

engine = create_engine(f"postgresql+psycopg2://{connection_params['user']}:{connection_params['password']}@{connection_params['host']}:{connection_params['port']}/{connection_params['database']}")

# str or SQLAlchemy Selectable (select or text object)
sql_query = 'SELECT * FROM xdr_data '

telecom = pd.read_sql(sql_query, con=engine)

In [4]:
telecom[[ 
 'Bearer Id',
 'Handset Manufacturer',
 'Handset Type', 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)' ]].head(5)

,Bearer Id,Handset Manufacturer,Handset Type,Start,Start ms,End,End ms,Dur. (ms),Social Media DL (Bytes),Social Media UL (Bytes),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,Samsung,Samsung Galaxy A5 Sm-A520F,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,1545765.0,24420.0,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,Samsung,Samsung Galaxy J5 (Sm-J530),4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,1926113.0,7165.0,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,Samsung,Samsung Galaxy A8 (2018),4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,1684053.0,42224.0,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,undefined,undefined,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,644121.0,13372.0,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,Samsung,Samsung Sm-G390F,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,862600.0,50188.0,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [14]:
# number of users 
number_of_users = telecom['MSISDN/Number'].nunique()
# telecom[ 'MSISDN/Number'].isna().sum()
print (f"number of users = {number_of_users}")

number of users = 106856

In [7]:
#number of sessions
telecom['Bearer Id'].shape[0]

150001

In [8]:
telecom[[ 
 'Bearer Id',
 'Handset Manufacturer',
 'Handset Type', 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'Total UL (Bytes)',
 'Total DL (Bytes)' ]].head(5)

,Bearer Id,Handset Manufacturer,Handset Type,Start,Start ms,End,End ms,Dur. (ms),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,Samsung,Samsung Galaxy A5 Sm-A520F,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,36749741.0,308879636.0
1,1.311448e+19,Samsung,Samsung Galaxy J5 (Sm-J530),4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,53800391.0,653384965.0
2,1.311448e+19,Samsung,Samsung Galaxy A8 (2018),4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,27883638.0,279807335.0
3,1.311448e+19,undefined,undefined,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,43324218.0,846028530.0
4,1.311448e+19,Samsung,Samsung Sm-G390F,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,38542814.0,569138589.0

In [36]:
# the number of session 
telecom['Bearer Id'].count()

149010

In [37]:
# delete null rows
telecom.dropna(subset=['Bearer Id'], inplace=True)

In [31]:
null_count = telecom['Bearer Id'].isnull().sum()
null_count

0

In [27]:
total_dl = telecom['Total DL (Bytes)'].sum()
total_ul = telecom[ 'Total UL (Bytes)'].sum()
print (total_dl,"and", total_ul)

68196514511845.0 and 6168180943816.0